.form-element {
    border: none;
    height: 45px;
    padding: 15px;
    font-size: 12px;
    width: 100%;
    color: #000000;
}

button.form-element {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
}
